h1 {
    color:blue;

}
img {
    width: 300px;
}
#thirdDiv {
    height: 900px;
    width: 800px;
    background-color: rgb(26, 54, 95);
    padding:100px;
    border: 20px solid royalblue;
}
#spanId{
    font-size:25px;
    margin: 50px;
}